form {
    border: thin solid #575555;
    box-shadow: -3px 3px rgb(69, 70, 70);
    border-radius: 5px;
}
.muestra {
    height: 80px;
    width: 80px;
    border: thin solid black;
    background-color: blueviolet;
}
.cardColor {
    background-color: rgb(232, 238, 238);
    border: thin solid #575555;
    box-shadow: -3px 3px rgb(69, 70, 70);
    border-radius: 5px;
}
